.worktrees/
/tools/*
!/tools/.gitkeep
/sample/target/
dist/
docs/
!docs/
docs/*
!docs/customer/
docs/customer/*
!docs/customer/*.md
!docs/superpowers/
docs/superpowers/*
!docs/superpowers/plans/
docs/superpowers/plans/*
!docs/superpowers/plans/*.md
!docs/superpowers/specs/
docs/superpowers/specs/*
!docs/superpowers/specs/*.md
.hecstudio-ready
.hec_ai_studio-ready
continue.txt
